name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: >-
            ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*',
            '**/gradle-wrapper.properties') }}
          restore-keys: '${{ runner.os }}-gradle-'    
      - name: Make gradlew executable
        run: chmod +x gradlew
      - name: Build with Gradle
        uses: gradle/gradle-build-action@093dfe9d598ec5a42246855d09b49dc76803c005
        with:
          arguments: shadowJar
      - name: Set build label (release vs snapshot)
        run: |
          if [ "${{ github.ref_name }}" = "master" ]; then
            echo "BUILD_LABEL=Release" >> $GITHUB_ENV
            echo "SNAPSHOT_SUFFIX=" >> $GITHUB_ENV
          else
            echo "BUILD_LABEL=Snapshot" >> $GITHUB_ENV
            echo "SNAPSHOT_SUFFIX=- Snapshot" >> $GITHUB_ENV
          fi

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: EternalCombat ${{ github.ref_name }}${{ env.SNAPSHOT_SUFFIX }} ${{ github.run_number }}
          path: eternalcombat-plugin/build/libs/*.jar
