name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: >-
            ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*',
            '**/gradle-wrapper.properties') }}
          restore-keys: '${{ runner.os }}-gradle-'    
      - name: Make gradlew executable
        run: chmod +x gradlew
      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@6f229686ee4375cc4a86b2514c89bac4930e82c4
        run: gradle shadowJar
      - name: Set build label (release vs snapshot)
        run: |
          if [ "${{ github.ref_name }}" = "master" ]; then
            echo "BUILD_LABEL=Release" >> $GITHUB_ENV
            echo "SNAPSHOT_SUFFIX=" >> $GITHUB_ENV
          else
            echo "BUILD_LABEL=Snapshot" >> $GITHUB_ENV
            echo "SNAPSHOT_SUFFIX=- Snapshot" >> $GITHUB_ENV
          fi
      - name: Determine branch name
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
          BRANCH_NAME="${{ github.head_ref }}"
          else
          BRANCH_NAME="${{ github.ref_name }}"
          fi
          
          # Sanitize branch name (replace / with -)
          SAFE_BRANCH_NAME=$(echo "$BRANCH_NAME" | tr '/' '-')
          
          echo "BRANCH_NAME=$SAFE_BRANCH_NAME" >> $GITHUB_ENV
      - name: Set short commit SHA
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            SHA="${{ github.event.pull_request.head.sha }}"
          else
            SHA="${{ github.sha }}"
          fi

          echo "SHORT_SHA=${SHA::7}" >> $GITHUB_ENV
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: EternalCombat ${{ env.BRANCH_NAME }} ${{ env.SNAPSHOT_SUFFIX }}+${{ env.SHORT_SHA }}
          path: eternalcombat-plugin/build/libs/*.jar
